body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("img/bg.png");
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

h1, h2, h3 {
    color: crimson;
}
